{
  "extends": ["ts-react-important-stuff", "plugin:prettier/recommended"],
  "parser": "@babel/eslint-parser",
  "rules": {
    "no-console": 0,
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  }
}
